body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab';
}

button {
    font-family: 'Roboto Slab';
}

.nav_img {
    width: 115px;
    height: 100px;

}

.header_nav {

    display: flex;
    justify-content: space-around;
    align-items: center;

}

.nav_ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

.three-lines{
    display: none;
}

.three-lines-parent{
    position: relative;
}

input.check-input {
    display: none;
}
#navclick:checked+label+.nav_ul {
    display: block;     
    position: absolute;
    height: 100vh;
    top: 0;
    left: 0;
    background: aliceblue;
    width: 100%;
    margin: 0;
    z-index: 9;
    padding: 10px 0;
    transition: 0.5s;
    margin: 100px 0;
}
@media screen and (max-width: 580px) {
    
    .animation {
        width: 75% !important;
    }

    .nav_btn{
        width: 100px !important;
    }

    .nav_img{
        width: 90px !important;
    }
}


@media screen and (max-width: 875px) {
    .nav_ul, .nav_btn {
        position: absolute;
        left: -150%;
        transition: all .5s;
    }
    
    .header_nav{
        justify-content: space-between;
        width: 90%;
        margin: 0 auto;
    }
    .three-lines > img{
        display: block;
        width: 35px;
        height: 250px;
    }
    .three-lines{
        display: block;
        width: 35px;
    }
}

li a {

    color: black;
    text-align: center;
    padding: 14px 25px;
    text-decoration: none;
    font-weight: 700;
    line-height: 30px;
}

.nav_btn {
    width: 200px;
    height: 40px;
    color: white;
    background-color: #002e61;
    border-radius: 8px;
    border: none;
    font-weight: 600;
    line-height: 20px;

}

.main_content {
    text-align: center;
    margin: 30px 0;
}

.main_content p {
    margin: 5px;
    font-size: 20px;
}

.main_content_heading {
    font-size: 55px;
    margin: 20px 0;
}

.main_content_btn {
    width: 200px;
    height: 40px;
    color: white;
    background-color: #002e61;
    border-radius: 8px;
    border: none;
    font-weight: 600;
    line-height: 20px;
    margin: 20px 0 0 0;
}

.animation {
    width: 600px;
    height: 235px;
    margin: 30px auto;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;
}

.animation .animation-color-bg {
    width: 200px;
    height: 120px;
    background: #63ffc529;
    position: absolute;
    z-index: -1;
    border-radius: 36%;
    box-shadow: 0px 1px 45px 60px #63ffc529;
    animation: backgroundBlurColor 5s steps(15) infinite;
}

@keyframes backgroundBlurColor {
    0% {
        left: 0px;
        top: 0px;
    }

    25% {
        left: 70%;
        top: 0px;
    }

    50% {
        left: 200px;
        top: 200px;
    }

    75% {
        left: 0px;
        top: 200px;
    }

    100% {
        left: 0px;
        top: 0px;
    }
}


.animation img.main-icon {
    width: 70px;
}

.animation-icons {
    width: 40px;
}

.animation .animation-icon-1 {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    animation: iconAnimationOne 3s infinite;
}

@keyframes iconAnimationOne {
    0% {
        bottom: 0;
    }

    100% {
        bottom: 10%;
        left: 0;
    }
}

.animation .animation-icon-2 {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    animation: iconAnimationTwo 3s infinite;
}

@keyframes iconAnimationTwo {
    0% {
        bottom: 0;
    }

    100% {
        bottom: 70%;
        left: 15%;
    }
}

.animation .animation-icon-3 {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    animation: iconAnimationThree 3s infinite;
}

@keyframes iconAnimationThree {
    0% {
        bottom: 0;
    }

    100% {
        bottom: 70%;
        left: 85%;
    }
}

.animation .animation-icon-4 {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    animation: iconAnimationFour 3s infinite;
}

@keyframes iconAnimationFour {
    0% {
        bottom: 0;
    }

    100% {
        bottom: 10%;
        left: 100%;
    }
}